
#container{
    height:30em;
    margin: 5px 10px;
    max-width: 800px;
    margin: 0 auto;
    resize: vertical;
}
#main_box{
    border:1px solid black;
    height: 60%;
    overflow: auto;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top:1em;
}
#input_box{
    /*height:1em;*/
    overflow: auto;
    word-wrap: break-word;
    margin: 0 auto;
    width: 98%;
    margin-top:20px;
    resize: vertical;
    
    
    
}
#send {
    height: 2em;
    margin: 0 auto;
    width:100%;
}
#username{
    margin: 0 auto;
    width: 100%;
    resize: none;
}
#login{
    height:2em;
    margin: 0 auto;
    width:100%;
}
#logout{
    
}